In [2]:
import pandas as pd
data = {
    'Tid': range(1, 11),
    'Refund': ['Yes','No','No','Yes','No','No','Yes','No','No','No'],
    'Marital_status': ['single','married','single','married','divorced','married','divorced','single','married','single'],
    'Taxable_income': ['25K','100K','70K','120K','95K','60K','220K','85K','75K','90K'],
    'Cheat': ['no','no','no','no','yes','no','no','yes','no','yes']
}
df = pd.DataFrame(data)
print(df)

   Tid Refund Marital_status Taxable_income Cheat
0    1    Yes         single            25K    no
1    2     No        married           100K    no
2    3     No         single            70K    no
3    4    Yes        married           120K    no
4    5     No       divorced            95K   yes
5    6     No        married            60K    no
6    7    Yes       divorced           220K    no
7    8     No         single            85K   yes
8    9     No        married            75K    no
9   10     No         single            90K   yes

In [3]:
rows = df.iloc[[0, 4, 7, 8]]
print(rows)

   Tid Refund Marital_status Taxable_income Cheat
0    1    Yes         single            25K    no
4    5     No       divorced            95K   yes
7    8     No         single            85K   yes
8    9     No        married            75K    no

In [4]:
selection1 = df.iloc[3:8]
print("Rows from index 3 to 7:")
print(selection1)

Rows from index 3 to 7:
   Tid Refund Marital_status Taxable_income Cheat
3    4    Yes        married           120K    no
4    5     No       divorced            95K   yes
5    6     No        married            60K    no
6    7    Yes       divorced           220K    no
7    8     No         single            85K   yes

In [5]:
selection2 = df.iloc[4:9, 2:5]
print('row from index 4 to 8, and column 2 to 4.:')
print(selection2)

row from index 4 to 8, and column 2 to 4.:
  Marital_status Taxable_income Cheat
4       divorced            95K   yes
5        married            60K    no
6       divorced           220K    no
7         single            85K   yes
8        married            75K    no

In [6]:
selection3 = df.iloc[:, 1:4]
print("All rows with columns from index 1 to 3:")
print(selection3)

All rows with columns from index 1 to 3:
  Refund Marital_status Taxable_income
0    Yes         single            25K
1     No        married           100K
2     No         single            70K
3    Yes        married           120K
4     No       divorced            95K
5     No        married            60K
6    Yes       divorced           220K
7     No         single            85K
8     No        married            75K
9     No         single            90K

In [7]:
import pandas as pd
data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 5000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}
df = pd.DataFrame(data)
df.to_csv('employees.csv', index=False)
print("the file has been created successfully")

the file has been created successfully

In [10]:
print("(a) Shape of the DataFrame:")
print("Number of rows:",len(df))
print("Number of columns:",len(df.columns))

(a) Shape of the DataFrame:
Number of rows: 5
Number of columns: 10

In [9]:
print("(b) Summary of the DataFrame:")
print(df.info())

(b) Summary of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

In [11]:
print("(c) Descriptive Statistics:")
print(df.describe())

(c) Descriptive Statistics:
       Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [12]:
print("(d) First 5 rows of the dataset:")
print(df[:5])  
print("(d) Last 3 rows of the dataset:")
print(df[-3:])

(d) First 5 rows of the dataset:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
(d) Last 3 rows of the dataset:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [13]:
print("i. Average salary:",df['Salary'].mean())
print("ii. Total bonus paid:",df['Bonus'].sum())
print("iii. Youngest employee's age:",df['Age'].min())
print("iv. Highest performance rating:",df['Rating'].max())

i. Average salary: 60000.0
ii. Total bonus paid: 27500
iii. Youngest employee's age: 28
iv. Highest performance rating: 4.7

In [14]:
print("(f) Sorted DataFrame by Salary (descending):")
sorted_df = df.sort_values(by='Salary', ascending=True)
sorted_df = sorted_df[::-1] 
print(sorted_df)

(f) Sorted DataFrame by Salary (descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [15]:
print("(g) Categorizing employees based on performance rating:")
def categorize_performance(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    else:
        return 'Average'

df['Performance_Category'] = df['Rating'].apply(categorize_performance)
print(df[['Name', 'Rating', 'Performance_Category']])

(g) Categorizing employees based on performance rating:
      Name  Rating Performance_Category
0    Alice     4.5            Excellent
1      Bob     4.0                 Good
2  Charlie     3.8              Average
3    Diana     4.7            Excellent
4   Edward     3.5              Average

In [16]:
print("(h) Missing values in the DataFrame:")
print(df.isnull().sum())

(h) Missing values in the DataFrame:
Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
dtype: int64

In [17]:
print("(i) Renamed Employee_ID column to ID:")
df = df.rename(columns={'Employee_ID': 'ID'})
print(df)

(i) Renamed Employee_ID column to ID:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category
0  Female   5000     4.5            Excellent
1    Male   7000     4.0                 Good
2    Male   6000     3.8              Average
3  Female   4500     4.7            Excellent
4    Male   5000     3.5              Average

In [18]:
print("Employees with more than 5 years of experience:",df[df['Years_of_Experience'] > 5])
print("Employees in the IT department:",df[df['Department'] == 'IT'])

Employees with more than 5 years of experience:     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average
4   Male   5000     3.5              Average
Employees in the IT department:     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category
1   Male   7000     4.0                 Good
2   Male   6000     3.8              Average

In [19]:
print("(k) Adding a Tax column (10% of Salary):")
df['Tax'] = df['Salary'] * 0.10
print(df[['Name', 'Salary', 'Tax']])

(k) Adding a Tax column (10% of Salary):
      Name  Salary     Tax
0    Alice   50000  5000.0
1      Bob   70000  7000.0
2  Charlie   65000  6500.0
3    Diana   55000  5500.0
4   Edward   60000  6000.0

In [20]:
df.to_csv('modified_employees.csv', index=False)
print("The modified dataset has been saved as 'modified_employees.csv'")

The modified dataset has been saved as 'modified_employees.csv'